.form {}

.form__labelText {
    max-width: 140px;
    width: 100%;
    display: inline-block;
    margin-right: 5px;
}

.form__field {
    border: 2px solid rgb(23, 101, 247);
    padding: 5px;
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}

.form__field:invalid {
    background-color: rgb(250, 192, 192)
}

.form__button {
    width: 100%;
    background-color: rgb(170, 200, 255);
    border-radius: 5px;
    padding: 5px;
}

.form__button:hover {
    background-color: rgb(170, 200, 255);
}

.form__button:active {
    background-color: rgb(170, 200, 255);
}

.form__fieldset {
    border: 1px solid rgb(151, 151, 151);
    padding: 20px;
    border-radius: 5px;
    margin: 20px 0;
}

.form__legend {
    border: 1px solid rgb(99, 98, 98);
    background-color: rgb(170, 200, 255);
    padding: 4px;
    font-weight: 500;
    border-radius: 5px;
}