html {
  box-sizing: border-box;
}

*, ::after, ::before {
  box-sizing: inherit;
}

.body {
  font-family: 'Source Serif Pro', serif;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgb(194, 193, 193);
  resize: both;
  overflow: auto;
  min-height: 100vh;
  background-image: url("./landscape.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; 
}
